$transparent-blue: rgb(212, 241, 255);

$bright-blue: rgb(144, 219, 247);

$dark-turquoise:#19a4c4;
$white: rgb(250, 250, 250);

$light-yellow:#FAEE81;
/*Шрифт и тень*/
$font-stack: "Rubik",
sans-serif;
$light-grey:#8B8A8A;

$black:#181818;

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 30px 0;
    font-family: $font-stack;
}

p {
    margin-top: 15px;
}

button:focus {
    outline: none;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header*/

.header {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1100px;
    min-height: 150px;
    margin: auto;
}

.logo img {
    width: 100px;
    object-fit: cover;
    mix-blend-mode: multiply;
    transform: scale(0, 0);
}

.menu-text {
    text-align: center;
    width: 200px;
    padding: 1% 0;
    background-color: $transparent-blue;
    border-radius: 6px;
    font-size: 20px;
}

.menu-text p {
    margin: 0;
}

.link {
    display: block;
    width: 250px;
    height: 30px;
    margin: 15px, 5px;
    text-decoration: none;
    color: $black;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.menu-hover:hover {
    color: $bright-blue;
}

.mail {
    display: inline-block;
    width: 250px;
    height: 40px;
    margin: 20px, 5px;
    color: $black;
    text-align: center;
    font-size: 18px;
}

.menu-btn {
    width: 170px;
    height: 50px;
    background-color: $light-yellow;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin: 20px 5px;
    box-shadow: 0 1px 0 $light_grey;
    transition-duration: 1s;
}

.menu-btn:hover {
    background-color: $dark-turquoise;
    box-shadow: 0 4px 2px;
}

/*Main*/

.main {
    flex: 1 1 auto;
}

/*Banner*/
.banner {
    position: relative;
    max-width: 1100px;
    margin: auto;
}

.banner-img {
    width: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 300px;
}

.banner-text h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0;
}

.banner-text p {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

/*Химчистка в цифрах*/

.part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 70px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.part__h1 {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    font-family: $font-stack;
    font-size: 3rem;

}

.part__1 {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
    font-family: $font-stack;
    font-size: 5rem;
    color: $light-yellow;
}

.part__2 {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    font-family: $font-stack;
    font-size: 5rem;
    color: $light-yellow;
}

.part__3 {
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
    font-family: $font-stack;
    font-size: 5rem;
    color: $light-yellow;
}

.part__4 {
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
    font-family: $font-stack;
    font-size: 20px;
}


.part__5 {
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
    font-family: $font-stack;
    font-size: 20px;
}

.part__6 {
    grid-area: 3 / 3 / 4 / 4;
    text-align: center;
    font-family: $font-stack;
    font-size: 20px;
}

/*о компании*/

.block {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
    background-color: $white;
    font-size: 25px;
    text-align: center;
    font-family: $font-stack;
}

.h2 {
    text-align: center;
    font-family: $font-stack;
    font-size: 2rem;
}

.block__text {
    margin: 10px;
    text-align: justify;
    font-size: 23px;
}

.robot {
    width: 200px;
    object-fit: cover;
    mix-blend-mode: multiply;
    justify-content: center;

}

/* carousel */

.carousel {
    padding-top: 30px
}

.carousel .owl-nav button:focus {
    outline: none;
}

.carousel .owl-nav button.owl-prev {
    background: #d8d8d8;
    border-radius: 100%;
    position: absolute;
    top: calc(50% - 30px);
    left: 15%;
    height: 60px;
    width: 60px;
    font-size: 37px;
    font-weight: 800;
    color: $white;
}

.carousel .owl-nav button.owl-next {
    background: #d8d8d8;
    border-radius: 100%;
    position: absolute;
    top: calc(50% - 30px);
    right: 15%;
    height: 60px;
    width: 60px;
    font-size: 37px;
    font-weight: 800;
    color: $white;
}

.carousel .owl-nav button:hover {
    box-shadow: $light_grey 0 5px 10px;
}

.carousel__title {
    margin-bottom: 30px;
    font-size: 3rem;
    text-align: center;
}


.carousel__item {
    cursor: pointer;
    width: calc(100% - 30px);
    margin: 0 auto;
    max-width: 500px;
}

.carousel__item:hover img {
    box-shadow: #787878 0 5px 10px;
}


.carousel__item img {
    height: 500px;
}

.carousel__button-download {
    cursor: pointer;
    border: 0;
    box-sizing: border-box;
    box-shadow: $light_grey 0 5px 10px;
    border-radius: 6px;
    background-color: $light-yellow;
    color: $black;
    font-size: 17px;
    white-space: nowrap;
    text-align: center;
    outline: none;
    width: auto;
    height: auto;
    overflow: hidden;
    opacity: 1;
    max-width: 100%;
    padding: 20px 40px;
    margin: 0 auto;
    display: flex;
}

.carousel__button-download:hover {
    background-color: #fadd8c;
}

@media screen and (max-width: 1024px) {
    .carousel .owl-nav button.owl-prev {
        left: 10px;
        height: 40px;
        width: 40px;
        font-size: 25px;
    }

    .carousel .owl-nav button.owl-next {
        right: 10px;
        height: 40px;
        width: 40px;
        font-size: 25px;
    }

    .carousel__title {
        font-size: 35px;
    }

    .carousel__button-download {
        font-size: 16px;
    }
}

@media screen and (max-width: 719px) {
    .carousel .owl-nav button.owl-prev {
        left: -12px;
    }

    .carousel .owl-nav button.owl-next {
        right: -12px;
    }

    .carousel__item {
        max-width: 100%;
    }

    .carousel__item img {
        height: 450px;
    }
}

@media screen and (max-width: 400px) {
    .carousel__item img {
        height: auto;
        min-height: 350px;
    }
}

/* faq */
.faq {
    box-sizing: border-box;
    padding: 30px 20px 20px;
}

.faq__h2 {
    margin-bottom: 30px;
    font-size: 3rem;
    text-align: center;
}

.faq__items {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.faq__title {
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid $bright-blue;
    height: 90px;
    padding: 0 24px 0 45px;
    color: $dark-turquoise;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.faq__title:hover {
    border: 1px solid $dark-turquoise;
}

.faq__title:after {
    content: "\25BC";
    margin: 0 0 0 30px;
    color: $dark-turquoise;
    font-weight: normal;
    transition: 0.2s;
}

.faq__title.active:after {
    transform: rotate(180deg);
}

.faq__text {
    margin: 12px 24px;
    max-height: 0;
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    opacity: 0;
    overflow: hidden;
}

.faq__title.active~.faq__text {
    max-height: 600px;
    opacity: 1;
}

.faq__title:hover~.faq__text {
    transition: 0.2s;
}

@media screen and (max-width: 1024px) {
    .faq__h2 {
        font-size: 35px;
    }

    .faq__title {
        font-size: 17px;
    }

    .faq__text {
        font-size: 13px;
    }
}

/*контакты, карта*/

.cont__text {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    background-color: $transparent-blue;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-family: $font-stack;
    width: 100%;
}

.cont__map {
    margin: 0;
}

@media screen and (max-width: 1023px) and (min-width:720px) {

    .block {
        grid-template-columns: 1fr 200px;
        grid-template-rows: 1fr;
    }

    .h2 {
        font-size: 2rem;
    }

    .block__text {
        margin: 10px;
        text-align: justify;
        font-size: 18px;
    }

    .robot {
        width: 150px;
        object-fit: cover;
        mix-blend-mode: multiply;
        justify-content: center;

    }

    .cont__text {
        font-size: 16px;
    }

}

@media screen and (max-width: 719px) and (min-width:300px) {

    .part__h1 {
        font-size: 1.5rem;
    }

    .part__1 {
        font-size: 2rem;
    }

    .part__2 {
        font-size: 2rem;
    }

    .part__3 {
        font-size: 2rem;
    }

    .part__4 {
        font-size: 12px;
    }


    .part__5 {
        font-size: 12px;
    }

    .part__6 {
        font-size: 12px;
    }

    .block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

    .h2 {
        font-size: 1.5rem;
    }

    .block__text {
        font-size: 16px;
    }

    .robot {
        display: none;
    }

    .cont__text {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

/*Footer*/
.footer {
    max-width: 100%;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $bright-blue;
    min-height: 15vh;
}

.footer-logo {
    border-radius: 25px;
}

.daten-link {
    display: block;
    max-width: 150px;
    text-align: center;
    margin: 20px 5px;
}

.footer-hover:hover {
    color: $white;
}

.footer-down {
    width: 100%;
    min-height: 60px;
    text-align: center;
    padding-top: 1%;
    background-color: $dark-turquoise;
}

@media all and (max-width: 800px) {
    .menu-text {
        display: none;
    }

    .banner-text {
        top: 15px;
        left: 20px;
        width: 200px;
    }

    .banner-text h2 {
        font-size: 26px;
    }
}

@media all and (max-width: 650px) {

    .menu,
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin: 15px 0;
    }

    .banner-text {
        top: 5px;
        left: 10px;
        width: 120px;
    }

    .banner-text h2,
    .banner-text p {
        font-size: 3.5vw;
    }
}

/*Nadya*/
.price-bg {
    background: url(img_price/fon.jpg);
}

h1 {
    text-align: center;
}

.card {
    background: linear-gradient(to right, rgb(212, 241, 255) 0%, #fffff5 100%);
    border: 5px;
    margin-top: 3%;
}

h5 {
    font-size: 19px;
    line-height: 24px;
    text-align: center;
}

.card-img-top {
    margin: 20px auto 0;
    max-width: 80%;
    height: auto;
    display: block;
}

.price {
    margin: 0 auto;
}

.btn {
    background-color: $dark-turquoise;
    color: $white;
    text-align: justify;
    position: relative;
    margin-top: 10%;
    width: 80%;
    text-align: center;
}